
<!DOCTYPE html>
<html lang="en">
    <%- include("../PartialViews/head")%>
<body>
    <%- include("../PartialViews/nav")%>
    <h2>Details</h2>
    <h2><%= matchedUser.username%></h2> 
    <h2><%= matchedUser.age%></h2> 
    <h2><%= matchedUser.description%></h2> 
    <button><a href="/user/profile/delete/<%= matchedUser.id%>">Delete</a></button>
    <button><a href="/user/profile/editForm/<%= matchedUser.id%>">Edit</a></button>
</body>
</html>