<!DOCTYPE html>
<html lang="en">
    <%- include("../PartialViews/head")%>
<body>
    <%- include("../PartialViews/nav")%>
    <h2>Profile Page</h2>

    <% if(posts.length>0){%>
        <%posts.forEach(element => {%>
            <div class="postContainer"> 
            <h1><%= element.title%></h1>
            <h1><%= element.snippet%></h1>
            <button><a href="/user/personDetails/<%=element._id%>">See More</a></button>
           </div> 
        <%})%>
    <%}else{%>
        <h1>No posts</h1>
    <%}%>

    <p> <a href="/user/update_page">Add Post</a></p>
</body>
</html>